extends ../basis/layout_boards

block content
    h1 /#{board.addr}/ — #{board.data.name}
    mixin picture()
    mixin floating_posting_form(board.data.image_permit)
    mixin posting_form(board.data.image_permit)
    section.dashboard
        - each thread, i in posts
            section.thread(style="margin-bottom: 20px")
                a(href="/" + board.addr + '/trd/' + thread[1].id || thread.id)
                    article.open Open thread
                mixin op_post(thread[1], board.addr, mod)
                article.count_post=count[i] + ' posts'
                - for(var j = thread[0].length - 1; j >= 0; j--) {
                    mixin post(thread[0][j], board.addr, mod)
                - }
    mixin posting_form(board.data.image_permit)
    article.dash_pages
        - for(var i = 0; i < board.data.pages; i++) {
            a(href="/" + board.addr + '/' + i)
                nav=i
        - }