extends ../basis/layout

block content
    h1 /#{board.addr}/ — #{board.data.name}
    mixin posting_form()
    section.dashboard
        - each thread, i in posts
            section.thread(style="margin-bottom: 20px")
                a(href="/" + board.addr + '/trd/' + thread[1].id || thread.id)
                    article.open Open thread
                mixin op_post(thread[1])
                article.count_post=count[i] + ' posts'
                - for(var j = thread[0].length - 1; j >= 0; j--) {
                    mixin post(thread[0][j])
                - }
    mixin posting_form()