extends ../basis/layout_boards

block content
    h1 /#{boards_data[0]}/ — #{boards_data[1]}
    mixin posting_form(boards_data[2])
    section.thread
        mixin op_post(op_post, boards_data[0], mod)
        - each post, i in posts
            mixin post(post, boards_data[0], mod)
    mixin posting_form(boards_data[2])
    //- submitting reports
    article.form_report
        form(action="/report" method="post")
            input(type="hidden" name="board" value=boards_data[0])
            input(type="hidden" name="thread" value=op_post.id)
            input(type="text" name="text" required)
            input(type="submit" value="Submit report").waves-effect.waves-light.btn.purple