@purple: #9C27B0;
@yellow: #FFFFD3;
.frame {
    padding: 10px;
    margin: 5px;
    border: 2px solid @purple;
    border-radius: 5px;
    position: relative;
}
body {
    background: @yellow;
    position: relative;
}
a {
    color: @purple;
    font-weight: bold;
    text-decoration: none;
}
h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 4em;
}
h2 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 2em;
}
h3 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 2em;
}
h4 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5em;
}
.board_name {
    line-height: 1;
}
input[type="text"], input[type="password"], textarea {
    margin: 2px;
    box-shadow: none;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    outline: none;
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}
input[type="submit"], input[type="button"] {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    font-size: 16px;
    background: #9C27B0;
    padding: 1px 5px 1px 5px;
    text-decoration: none;
}
input[type="submit"]:hover, input[type="button"]:hover {
    background: #852396;
}
.content {
    width: 960px;
    margin: 0 auto;
    .posting_form, .floating_form_main {
        .frame;
        text-align: center;
        display: none;
        input[type="text"], textarea {
            width: 450px;
            padding: 4px;
            font-size: 16px;
        }
        textarea {
            height: 300px;
            resize: none;
        }
        input[type="file"] {
            margin: 15px;
        }
        input[type="checkbox"] {
            vertical-align: middle;
            width: 10px;
        }
        .captcha {
            img {
                border: 2px solid @purple;
            }
            input {
                box-sizing: border-box;
                width: 254px;
                margin-bottom: 10px;
            }
        }
        &_open {
            .frame;
            text-align: center;
            margin: 0 auto;
            margin-top: 20px;
            width: 200px;
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            transition-duration: 0.2s;
            &:hover {
                background: @purple;
                color: white;
            }
        }
    }
    .form_report {
        .frame;
        float: right;
    }
    .post, .op_post, .post_quote {
        .frame;
        .icon {
            border: 1px solid @purple;
            border-radius: 4px;
            margin-right: 5px;
        }
        #admin_list {
            float: right;
            cursor: pointer;
            margin: 0;
        }
        .admin_action {
            text-align: center;
            border: 1px solid @purple;
            position: absolute;
            top: 10px;
            right: 35px;
            display: none;
            z-index: 1;
            input[type="submit"], input[type="button"], .post_num {
                display: block;
                width: 100%;
                border: none;
                border-bottom: 1px solid @yellow;
                font-weight: bold;
                color: white;
                background: @purple;
            }
            input[type="submit"], input[type="button"] {
                cursor: pointer;
            }
            .post_num {
                padding: 10px 0;
                text-decoration: underline;
            }
        }
        .post_data {
            margin-bottom: 20px;
            span {
                padding-right: 5px;
                font-size: 1.1em;
                &.title {
                    font-weight: bold;
                    color: @purple;
                }
                &.name {
                    font-style: italic;
                    .mod {
                        color: #000088;
                    }
                }
                &.trip {
                    color: green;
                }
                &.date {
                    text-decoration: underline;
                }
            }
            .id {
                cursor: pointer;
                font-weight: bold;
                color: @purple;
                padding-right: 5px;
                font-size: 1.1em;
            }
        }
        .post_image {
            float: left;
            text-align: center;
            margin-right: 10px;
            margin-bottom: 10px;
            a:first-child {
                font-weight: normal;
            }
            img {
                max-height: 250px;
            }
        }
        .post_text {
            white-space: pre-wrap;
            padding-top: 15px;
            span {
                &.message, &.roulette {
                    line-height: 3em;
                    color: @purple;
                }
                &.message {
                    text-decoration: underline;
                }
                &.quote {
                    color: #45b24c;
                }
            }
            .bold {
                font-weight: bold;
            }
            .italic {
                font-style: italic;
            }
            .crossed {
                text-decoration: line-through;
            }
            .spoiler {
                color: #b8b8b8;
                background: #b8b8b8;
                &:hover {
                    color: black;
                }
            }
        }
        .post_answ {
            margin-top: 10px;
            font-size: 10px;
        }
    }
    .count_post {
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        color: @purple;
    }
    .open {
        float: right;
    }
    #refresh {
        float: left;
        box-sizing: border-box;
        width: 38px;
        margin-left: 5px;
        margin-top: 15px;
        padding: 5px;
        border: 2px solid purple;
        border-radius: 4px;
        cursor: pointer;
    }
    .floating_form {
        width: 490px;
        position: fixed;
        display: none;
        z-index: 10;
        .floating_form_panel {
            box-sizing: border-box;
            width: 490px;
            border: 2px solid @purple;
            border-bottom: none;
            text-align: right;
            background: #e4e4bd;
            img {
                cursor: pointer;
            }
        }
        .floating_form_main {
            box-sizing: border-box;
            display: block;
            width: 490px;
            border-radius: 0;
            margin: 0;
            background: #eeeec5;
            textarea {
                height: 100px;
            }
        }
    }
    .post_quote {
        position: absolute;
        background: @yellow;
        max-width: 800px;
        z-index: 1;
    }
    table {
        border-collapse: collapse;
        th, td {
            padding: 4px;
            border: 1px solid black;
        }
        th {
            font-weight: bold;
        }
    }
    .a_add_board, .a_board {
        border: 1px solid black;
        padding: 5px;
        margin-bottom: 10px;
        label {
            padding: 2px;
            border: 1px solid black;
            margin: 4px;
            line-height: 1.8em;
        }
    }
    .s_board {
        .spam_header {
            text-align: left;
        }
        .spam_word {
            display: inline-block;
            border: 1px solid black;
            margin: 3px;
            padding: 0 3px;
            form {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    .add_admin_form {
        margin-bottom: 15px;
    }
    .admin_panel_action {
        width: 250px;
        font-size: 18px;
        padding: 10px;
        margin: 5px auto;
        border: 1px solid black;
    }
    .dash_pages {
        text-align: center;
        margin-top: 20px;
        nav {
            display: inline-block;
            margin-right: 5px;
        }
    }
    .board_category_index {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
        .board_index {
            margin-top: 5px;
        }
    }
    img[alt="hanako_art"] {
        margin: 0 80px;
        width: 800px;
        height: 600px;
        border: 2px solid @purple;
    }
    #index_art {
        margin: 0 180px;
        width: 600px;
        height: 450px;
        margin-bottom: 15px;
    }
    .boards_list_layout_index {
        text-align: center;
        margin-bottom: 20px;
    }
    .full_title {
        img {
            vertical-align: middle;
            &[alt="logo_img"] {
                width: 120px;
            }
            &[alt="logo_text"] {
                height: 60px;
            }
        }
    }
    .see_bans {
        float: right;
    }
    .ban_main {
        border: 1px solid black;
        padding: 5px;
        margin: 5px;
    }
}
footer {
    width: 960px;
    margin: 0 auto;
    padding: 10px;
    text-align: right;
    a:before {
        content: ' ';
    }
}
.boards_list_layout {
    padding: 20px;
    clear: both;
}
#full_picture {
    max-width: 100%;
}
.clearfix {
    clear: both;
}