doctype
html(lang="ru")
    head
        meta(charset="UTF-8")
        title Hanako
        script(src="/src/data/js/jquery.js")
        script(src="/src/data/js/materialize.js")
        script(src="/src/data/js/main.js")
        link(rel="stylesheet/css" href="/src/data/css/reset.css")
        link(rel="stylesheet/css" href="/src/data/css/materialize.css")
        link(rel="stylesheet/less" href="/src/data/less/main.less")
        script(src="/src/data/js/less.js")
        //- add mixins
        include mixins
    body
        mixin boards_list(boards_list)
        section.content
            block content
        mixin boards_list(boards_list)