//captcha
mixin captcha()
    article.captcha
        img(alt="captcha")
        input(type="hidden" name="c_key" value="Not")
        br
        input(type="text" name="c_value" placeholder="Captcha" required)

// post
mixin post(post)
    article.post
        article.post_data
            span.name=post.name
        - if(post.image)
            figure.post_image
        article.post_text=post.text

// OP post
mixin op_post(post)
    article.op_post
        article.post_data
            span.name=post.name
        - if(post.image)
            figure.post_image
        article.post_text=post.text

// form post/thread
mixin posting_form()
    article.posting_form
        form(method="post")
            input(type="text" name="title" placeholder="Title")
            br
            input(type="text" name="name" placeholder="Name")
            br
            textarea(name="text" placeholder="Post" required)
            br
            label Sage
                input(type="checkbox" name="sage" value="1")
            br
            mixin captcha()
            input(type="submit" value="Submit")