extends ../basis/layout

block content
    h1 Admin login
    form(method="post")
        input(type="text" name="name" placeholder="Name" required)
        br
        input(type="password" name="pass" placeholder="Password" required)
        br
        img(src="/testing?key=" + c_key required)
        input(type="hidden" name="c_key" value=c_key)
        br
        input(type="text" name="c_value" placeholder="Captcha" required)
        br
        input(type="submit" value="Submit")