extends ../basis/layout

block content
    h1 Admin login
    form(method="post")
        input(type="text" name="name" placeholder="Name" required)
        br
        input(type="password" name="pass" placeholder="Password" required)
        br
        mixin captcha()
        br
        input(type="submit" value="Submit")